<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="w-full h-full bg-zinc-900 p-10 text-white">
    <a class="text-blue-500" href="/">back to home</a>                                  <!-- link to go bacak home page through route-->
    <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>
    <div class="users flex gap-3 flex-wrap">
        <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
            <h3 class="text-xl mt-3 tracking-tighter">Abhishek Kumar</h3>
            <h5 class="text-zinc-500">abhishek@gmail.com</h5>
            <div class="flex gap-3 mt-10">
                <a class="text-zinc-200" href="">Edit User</a>
                <a class="text-red-500" class="" href="">Delete User</a>
            </div>
        </div>
        <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
            <h3 class="text-xl mt-3 tracking-tighter">Abhishek Kumar</h3>
            <h5 class="text-zinc-500">abhishek@gmail.com</h5>
            <div class="flex gap-3 mt-10">
                <a class="text-zinc-200" href="">Edit User</a>
                <a class="text-red-500" class="" href="">Delete User</a>
            </div>
        </div>
        <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
            <h3 class="text-xl mt-3 tracking-tighter">Abhishek Kumar</h3>
            <h5 class="text-zinc-500">abhishek@gmail.com</h5>
            <div class="flex gap-3 mt-10">
                <a class="text-zinc-200" href="">Edit User</a>
                <a class="text-red-500" class="" href="">Delete User</a>
            </div>
        </div>
        <!-- <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
            <h3 class="text-xl mt-3 tracking-tighter">Abhishek Kumar</h3>
            <h5 class="text-zinc-500">abhishek@gmail.com</h5>
            <div class="flex gap-3 mt-10">
                <a class="text-zinc-200" href="">Edit User</a>
                <a class="text-red-500" class="" href="">Delete User</a>
            </div>
        </div>
        <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
            <h3 class="text-xl mt-3 tracking-tighter">Abhishek Kumar</h3>
            <h5 class="text-zinc-500">abhishek@gmail.com</h5>
            <div class="flex gap-3 mt-10">
                <a class="text-zinc-200" href="">Edit User</a>
                <a class="text-red-500" class="" href="">Delete User</a>
            </div>
        </div>
        <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
            <h3 class="text-xl mt-3 tracking-tighter">Abhishek Kumar</h3>
            <h5 class="text-zinc-500">abhishek@gmail.com</h5>
            <div class="flex gap-3 mt-10">
                <a class="text-zinc-200" href="">Edit User</a>
                <a class="text-red-500" class="" href="">Delete User</a>
            </div>
        </div>
        <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
            <h3 class="text-xl mt-3 tracking-tighter">Abhishek Kumar</h3>
            <h5 class="text-zinc-500">abhishek@gmail.com</h5>
            <div class="flex gap-3 mt-10">
                <a class="text-zinc-200" href="">Edit User</a>
                <a class="text-red-500" class="" href="">Delete User</a>
            </div>
        </div>
        <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
            <h3 class="text-xl mt-3 tracking-tighter">Abhishek Kumar</h3>
            <h5 class="text-zinc-500">abhishek@gmail.com</h5>
            <div class="flex gap-3 mt-10">
                <a class="text-zinc-200" href="">Edit User</a>
                <a class="text-red-500" class="" href="">Delete User</a>
            </div>
        </div> -->
    </div>
</div>    
</body>
</html>




